# Decision Tree Classifier

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier
import graphviz

In [46]:
data = pd.read_csv('loan-risk.csv', index_col=0)
data.head()

             Income CreditRating LoanRisk
Observation
0                23         High     High
1                17          Low     High
2                43          Low     High
3                68         High      Low
4                32     Moderate      Low

In [7]:
data.isnull().sum()

Income          0
CreditRating    0
LoanRisk        0
dtype: int64

In [8]:
data.value_counts().sum()

6

In [9]:
data

             Income CreditRating LoanRisk
Observation
0                23         High     High
1                17          Low     High
2                43          Low     High
3                68         High      Low
4                32     Moderate      Low
5                20         High     High

# Manual Data Preprocessing

In [42]:
data.CreditRating.unique

<bound method Series.unique of Observation
0        High
1         Low
2         Low
3        High
4    Moderate
5        High
Name: CreditRating, dtype: object>

In [49]:
data['Low'] = 0
data['Moderate'] = 0
data['High'] = 0

for i in range(len(df)):
    if data.loc[i,'CreditRating'] == 'Low':
        data.loc[i,'Low'] = 1
    elif data.loc[i,'CreditRating'] == 'Moderate':
        data.loc[i,'Moderate'] = 1
    elif data.loc[i,'CreditRating'] == 'High':
        data.loc[i,'High'] = 1    

data

             Income CreditRating LoanRisk  Low  Moderate  High
Observation
0                23         High     High    0         0     1
1                17          Low     High    1         0     0
2                43          Low     High    1         0     0
3                68         High      Low    0         0     1
4                32     Moderate      Low    0         1     0
5                20         High     High    0         0     1

In [ ]:
data = data.drop('CreditRating', axis=1)

independent =