# Bayes Theoram :
    
        Practice Exercice 5 - 1a

 P(A/B) = P(A int B) / P(B)

In [1]:
!ls

Bayesian_Classifier_and_Logistic.ipynb adult.csv
Simple_Linear_Regression.ipynb         colleges.csv

In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

# Data Understanding

In [3]:
data = pd.read_csv('adult.csv')
data.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [7]:
data.value_counts().sum()

32561

In [9]:
data.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education.num     0
marital.status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
hours.per.week    0
native.country    0
income            0
dtype: int64

In [10]:
data.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education.num',
       'marital.status', 'occupation', 'relationship', 'race', 'sex',
       'capital.gain', 'capital.loss', 'hours.per.week', 'native.country',
       'income'],
      dtype='object')

# Data manipulation

In [46]:
independent_variables = data.drop('sex', axis=1).drop('fnlwgt', axis=1).drop('education.num', axis=1).drop('marital.status', axis=1).drop('relationship', axis=1).drop('capital.gain', axis=1).drop('capital.loss', axis=1).drop('race',axis=1).drop('native.country', axis=1).drop('income',axis=1)
Income = independent_variables.values
Outcome = data['income'].values

In [47]:
independent_variables

       age workclass     education         occupation  hours.per.week
0       90         ?       HS-grad                  ?              40
1       82   Private       HS-grad    Exec-managerial              18
2       66         ?  Some-college                  ?              40
3       54   Private       7th-8th  Machine-op-inspct              40
4       41   Private  Some-college     Prof-specialty              40
...    ...       ...           ...                ...             ...
32556   22   Private  Some-college    Protective-serv              40
32557   27   Private    Assoc-acdm       Tech-support              38
32558   40   Private       HS-grad  Machine-op-inspct              40
32559   58   Private       HS-grad       Adm-clerical              40
32560   22   Private       HS-grad       Adm-clerical              20

[32561 rows x 5 columns]

In [55]:
independent_variables.dtypes

age                int64
workclass         object
education         object
occupation        object
hours.per.week     int64
dtype: object

In [60]:
independent_variables['workclass'].unique()

array(['?', 'Private', 'State-gov', 'Federal-gov', 'Self-emp-not-inc',
       'Self-emp-inc', 'Local-gov', 'Without-pay', 'Never-worked'],
      dtype=object)

In [65]:
independent_variables['workclass'].value_counts()

Private             22696
Self-emp-not-inc     2541
Local-gov            2093
?                    1836
State-gov            1298
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: workclass, dtype: int64

In [62]:
independent_variables['education'].unique()

array(['HS-grad', 'Some-college', '7th-8th', '10th', 'Doctorate',
       'Prof-school', 'Bachelors', 'Masters', '11th', 'Assoc-acdm',
       'Assoc-voc', '1st-4th', '5th-6th', '12th', '9th', 'Preschool'],
      dtype=object)

In [64]:
independent_variables['occupation'].unique()

array(['?', 'Exec-managerial', 'Machine-op-inspct', 'Prof-specialty',
       'Other-service', 'Adm-clerical', 'Craft-repair',
       'Transport-moving', 'Handlers-cleaners', 'Sales',
       'Farming-fishing', 'Tech-support', 'Protective-serv',
       'Armed-Forces', 'Priv-house-serv'], dtype=object)

In [57]:
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression

In [67]:
label = LabelEncoder()
independent_variables['workclass'] = label.fit_transform(independent_variables['workclass'])

In [69]:
independent_variables

       age  workclass     education         occupation  hours.per.week
0       90          0       HS-grad                  ?              40
1       82          4       HS-grad    Exec-managerial              18
2       66          0  Some-college                  ?              40
3       54          4       7th-8th  Machine-op-inspct              40
4       41          4  Some-college     Prof-specialty              40
...    ...        ...           ...                ...             ...
32556   22          4  Some-college    Protective-serv              40
32557   27          4    Assoc-acdm       Tech-support              38
32558   40          4       HS-grad  Machine-op-inspct              40
32559   58          4       HS-grad       Adm-clerical              40
32560   22          4       HS-grad       Adm-clerical              20

[32561 rows x 5 columns]

In [70]:
independent_variables['education'] = label.fit_transform(independent_variables['education'])

In [71]:
independent_variables

       age  workclass  education         occupation  hours.per.week
0       90          0         11                  ?              40
1       82          4         11    Exec-managerial              18
2       66          0         15                  ?              40
3       54          4          5  Machine-op-inspct              40
4       41          4         15     Prof-specialty              40
...    ...        ...        ...                ...             ...
32556   22          4         15    Protective-serv              40
32557   27          4          7       Tech-support              38
32558   40          4         11  Machine-op-inspct              40
32559   58          4         11       Adm-clerical              40
32560   22          4         11       Adm-clerical              20

[32561 rows x 5 columns]

In [72]:
independent_variables['occupation'] = label.fit_transform(independent_variables['occupation'])

In [93]:
In = independent_variables
Out = data['income']

In [92]:
independent_variables

       age  workclass  education  occupation  hours.per.week
0       90          0         11           0              40
1       82          4         11           4              18
2       66          0         15           0              40
3       54          4          5           7              40
4       41          4         15          10              40
...    ...        ...        ...         ...             ...
32556   22          4         15          11              40
32557   27          4          7          13              38
32558   40          4         11           7              40
32559   58          4         11           1              40
32560   22          4         11           1              20

[32561 rows x 5 columns]

In [110]:
In = independent_variables
Out = data.income

Input = independent_variables.values

In [76]:
Output

array(['<=50K', '<=50K', '<=50K', ..., '>50K', '<=50K', '<=50K'],
      dtype=object)

# Model Training

In [77]:
model = LogisticRegression(C=1e8)
model.fit(Input, Output)

LogisticRegression(C=100000000.0)

In [79]:
prediction = model.predict(Input)

# Model Evaluation

In [81]:
print(model.coef_)

[[0.04477524 0.01266263 0.0600655  0.038369   0.04610867]]

In [82]:
print(model.intercept_)

[-5.84881989]

In [84]:
print(model.score(Input, Output))

0.7557200331685144

In [88]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [89]:
print(confusion_matrix(Output , prediction))

[[23668  1052]
 [ 6902   939]]

In [90]:
print(classification_report(Output, prediction))

              precision    recall  f1-score   support

       <=50K       0.77      0.96      0.86     24720
        >50K       0.47      0.12      0.19      7841

    accuracy                           0.76     32561
   macro avg       0.62      0.54      0.52     32561
weighted avg       0.70      0.76      0.70     32561