# Simple Linear Regression

# Index of Content


- Correlation 
- Coefficient 
- Interrcept 
- Loss Function R^2
- Root Mean Square 
- Stats model

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [38]:
data = pd.read_csv('colleges.csv', index_col=0)
data.value_counts().sum()

49

In [40]:
data = data.dropna()

In [41]:
data.value_counts().sum()

49

In [42]:
data.isnull().sum()

Type                      0
MedianSAT                 0
AcceptanceRate            0
ExpendituresPerStudent    0
Top10PercentHS            0
GraduationPercent         0
dtype: int64

In [43]:
data.head()

,Type,MedianSAT,AcceptanceRate,ExpendituresPerStudent,Top10PercentHS,GraduationPercent
School,,,,,,
Amherst,Lib Arts,1315,0.22,26636,85,93
Barnard,Lib Arts,1220,0.53,17653,69,80
Bates,Lib Arts,1240,0.36,17554,58,88
Berkeley,University,1176,0.37,23665,95,68
Bowdoin,Lib Arts,1300,0.24,25703,78,90

In [45]:
data = data.drop('Type',axis=1)
data.head()

,MedianSAT,AcceptanceRate,ExpendituresPerStudent,Top10PercentHS,GraduationPercent
School,,,,,
Amherst,1315,0.22,26636,85,93
Barnard,1220,0.53,17653,69,80
Bates,1240,0.36,17554,58,88
Berkeley,1176,0.37,23665,95,68
Bowdoin,1300,0.24,25703,78,90

# Correlation

In [50]:
data.corr(method='pearson')         # pearson , kendall  - To find the correlation

,MedianSAT,AcceptanceRate,ExpendituresPerStudent,Top10PercentHS,GraduationPercent
MedianSAT,1.000000,-0.601902,0.572742,0.503468,0.564147
AcceptanceRate,-0.601902,1.000000,-0.284254,-0.609721,-0.550378
ExpendituresPerStudent,0.572742,-0.284254,1.000000,0.505782,0.042504
Top10PercentHS,0.503468,-0.609721,0.505782,1.000000,0.138613
GraduationPercent,0.564147,-0.550378,0.042504,0.138613,1.000000

In [51]:
data.corr(method='kendall')

,MedianSAT,AcceptanceRate,ExpendituresPerStudent,Top10PercentHS,GraduationPercent
MedianSAT,1.000000,-0.487917,0.324791,0.459220,0.413664
AcceptanceRate,-0.487917,1.000000,-0.197605,-0.468547,-0.485115
ExpendituresPerStudent,0.324791,-0.197605,1.000000,0.377004,0.093770
Top10PercentHS,0.459220,-0.468547,0.377004,1.000000,0.227984
GraduationPercent,0.413664,-0.485115,0.093770,0.227984,1.000000

In [52]:
from sklearn.linear_model import LinearRegression

In [66]:
Input = data.drop('GraduationPercent',axis=1)
Output = data.GraduationPercent
Input = Input.values
Output = Output.values

model = LinearRegression()
model.fit(Input, Output)

LinearRegression()

In [72]:
Prediction = model.predict(Input)

# COEFFIENT 

coefficient = model.coef_
print(coefficient)

[ 7.20062848e-02 -2.48592318e+01 -1.35649860e-04 -1.62764489e-01]

In [75]:
# INTERCEPT


intercept = model.intercept_
print(intercept)

17.92095587064854

In [78]:
# R^2
# Evaluation of loss function 

RSquare = model.score(Input, Output)
print(RSquare)

0.5344260406481334

In [81]:
from sklearn import metrics
import math

In [82]:
# Root Mean Squared 

RMS = math.sqrt(metrics.mean_squared_error(Output, Prediction))
print(RMS)

5.0302188013476625

# STATS Model

In [83]:
import statsmodels.api as sm

In [85]:
Input = data.drop('GraduationPercent', axis=1)
Output = data.GraduationPercent

# Add constant -> OLS -> Fit -> Summary

In [86]:
x2 = sm.add_constant(Input)
ols = sm.OLS(Output, x2)          # Ordinary Least Square 
est = ols.fit()

est.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:      GraduationPercent   R-squared:                       0.534
Model:                            OLS   Adj. R-squared:                  0.492
Method:                 Least Squares   F-statistic:                     12.63
Date:                Wed, 08 Jun 2022   Prob (F-statistic):           6.33e-07
Time:                        21:36:55   Log-Likelihood:                -148.69
No. Observations:                  49   AIC:                             307.4
Df Residuals:                      44   BIC:                             316.8
Df Model:                           4
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
const                     17.9210     24.557      0.730      0.469     -31.571      67.413
MedianSAT                  0.0720      0.018      4.004      0.000       0.036       0.108
AcceptanceRate           -24.8592      8.315     -2.990      0.005     -41.617      -8.101
ExpendituresPerStudent    -0.0001   6.59e-05     -2.057      0.046      -0.000   -2.77e-06
Top10PercentHS            -0.1628      0.079     -2.051      0.046      -0.323      -0.003
==============================================================================
Omnibus:                        1.954   Durbin-Watson:                   2.010
Prob(Omnibus):                  0.376   Jarque-Bera (JB):                1.833
Skew:                          -0.450   Prob(JB):                        0.400
Kurtosis:                       2.706   Cond. No.                     1.12e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.12e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
"""