# Multple Linear Regression

In [44]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
from sklearn import feature_selection
from sklearn.linear_model import LinearRegression

In [45]:
data = pd.read_csv('colleges.csv', index_col=0)
data.head()

,Type,MedianSAT,AcceptanceRate,ExpendituresPerStudent,Top10PercentHS,GraduationPercent
School,,,,,,
Amherst,Lib Arts,1315,0.22,26636,85,93
Barnard,Lib Arts,1220,0.53,17653,69,80
Bates,Lib Arts,1240,0.36,17554,58,88
Berkeley,University,1176,0.37,23665,95,68
Bowdoin,Lib Arts,1300,0.24,25703,78,90

In [50]:
data = data.drop('Type', axis=1)

independent = data.drop('GraduationPercent', axis=1)

Input = independent.values
Output = data.GraduationPercent.values

In [51]:
feature_selection.f_regression(Input,Output, center=True)

(array([21.94140465, 20.42366744,  0.08506146,  0.92072345]),
 array([2.42598392e-05, 4.18443571e-05, 7.71835390e-01, 3.42195517e-01]))

# Feature Selection

In [53]:
model = LinearRegression(fit_intercept=True)
selector = feature_selection.RFE(model , n_features_to_select=2, step=1)
selector.fit(Input, Output)
selector.support_

array([False,  True, False,  True])